*{
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-top: 30px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.pContainer{
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.leftContainer {
  display: flex;
  column-gap: 90px;
}
.rightContainer {
  display: flex;
  column-gap: 34px;
}

.pleftContainer{
  display: flex;
  column-gap: 40px;
}

.prightContainer{
  display: flex;
  column-gap: 40px;
}
.eContainer {
  display: flex;
  column-gap: 63px;
}

input#Email {
  width: 662px;
}

input{
  width: 200px;
  height: 25px;
}

select{
  width: 202px;
  height: 25px;
}

.ddContainer{
  display: flex;
  flex-direction: row;
  column-gap: 107px ;
}

.monthContainer {
  display: flex;
  column-gap: 65px;
}

.yearContainer {
  display: flex;
  column-gap: 25px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: self-end;
}
button#btn-submit {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #5cb85c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* 
div#opContainer {
  display: flex;
  position: absolute;
  height: 266px;
  width: 1366px;
}

.output {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 430px;
  top: 40px;
  row-gap: 20px;
}    */

div#opContainer {
  margin-top:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.output {
  display: flex;
  flex-direction: column;
  top: 40px;
  row-gap: 20px;
}